.error {
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.carousel-img {
  max-height: 650px;
}

.slick-slide {
  margin: 0 15px;
  padding-bottom: 0;
}

.slick-prev:before, .slick-next:before{
  color:rgb(85, 85, 85);
}

#book_title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cover-img {
  max-width: 150px;
  max-height: 200px;
  width: 100%;
  height: 100%;
}

/* Card Image */
.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Card Body */
.card-body {
  display: flex;
  flex-direction: column;
}

/* Form Styles */
form {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Button Styles */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.cart-img {
  width: 5rem;
  height: 7rem;
  margin: auto;
}

#img-pointer {
  cursor: pointer;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .cart {
    max-width: 100%;
  }

  .card {
    margin-bottom: 20px;
  }

  form {
    padding: 15px;
  }
}